<h1>{{ title }}</h1>
<br>
<!-- <ng-container *ngIf="posts.length > 0">

    <ul *ngFor="let post of posts">
      <li [ngStyle]="{'color':'blue'}">{{post.title}}</li>
      <li>{{post.body}}</li>
      <li>Votes:{{post.votes}}</li>
    </ul>
  </ng-container>
  <ng-template [ngIf]="posts.length == 0">
  
    <p>No posts found.</p>
  </ng-template> -->
<app-post-item *ngFor="let post of posts"[post]="post"(hidePost)="hidePost($event)"></app-post-item>

<app-createpost (addPost)="addPost($event)"></app-createpost>